@import "../../common/colors.scss";
@import "../../common/utilities.scss";

.footer {
	grid-area: 5 / 1 / 6 / 2;
	background: $secondary-color;
	justify-content: center;
    align-items: center;
    color: $font-primary-color;
}
