@import "./common/colors.scss";
@import "./common/utilities.scss";

/*RESET */

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
	max-width: 100vw;
}
body {
	line-height: 1.5;
	color: $font-primary-color;
	font-family: "Akshar", sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: $primary-color;
	scroll-behavior: smooth;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}
a {
	text-decoration: none;
}

/* Composition */

.split {
	display: flex;
}

.split-vert {
	display: flex;
	flex-direction: column;
}

/* Utilities */
.css-transitions-only-after-page-load * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
.pad-thin-sides {
	padding: $pad-thin-sides;
}
.pad-med-sides {
	padding: $pad-med-sides;
}
.pad-thick-sides {
	padding: $pad-thick-sides;
}
.text-shadow {
	text-shadow: 0px 0px 5px #000000, 0px 0px 10px #000000, 0px 0px 20px #000000, 0px 0px 40px #000000;
}
.drop-shadow {
	-webkit-box-shadow: 0px 0px 15px 5px #000000;
	box-shadow: 0px 0px 15px 5px #000000;
}
/* Specifics */

::-webkit-scrollbar {
	display: none;
}
@media only screen and (max-width: 1024px) {
	html{
		font-size: 14px;
	}
	
}
@media only screen and (max-width: 768px) {
	html{
		font-size: 13px;
	}
	
}
@media only screen and (max-width: 600px) {
	html{
		font-size: 12px;
	}
	
}